<main class="home__main service__main">
    <h2 class="home__main__title service__main__title">{{title}}</h2>
    <section class="home__main__service service__main__container">
        {{#each contents}}
        <article class="main__service__item service__main__item ">
            <p class="main__service__text service__main__text slide-in {{textFrom}}"
               >{{this.text}}</p>
            <img class="main__service__img slide-in {{{this.imgFrom}}}"
                 src="{{this.img}}" alt="">
        </article>
        {{/each}}
    </section>
</main>
